body{
    background-color: #0D0D0D;
    color: #f9f6f6 !important;
    overflow: hidden;
    
}
html{
    scroll-behavior: smooth;
}
.nav-header i{
    cursor: pointer;
}
.side-nav-menu{
    z-index: 9999;
}
.nav-tab{
    background-color: #0D0D0D;
}

.side-nav-menu .links li{
    cursor: pointer;
}


.meal-layer{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;
}
.meal:hover .meal-layer{
    top: 0;
}

.cursor-pointer{
    cursor: pointer;
}

.alert{
    width: fit-content;
}

/* .loading-screen{
    z-index: 99;
    display: flex;
} */

.innner-loading-screen{
    display: flex;
    background-color: #0D0D0D;
    position: absolute;
    top: 50%;
    z-index: 9;
} 



